

.jbackground{
    background-color: dimgray;
}

.navbarcolor{
    background-color: whitesmoke;
}

.big{
    font-size: 200%;
    color: #ebebeb;
}
.crazyfont{
    font-family: 'Molle', cursive;
    
}

body{
    font-family: 'Cuprum', sans-serif;
    background-color: whitesmoke;
}
.carouselIMG{
    background-image: url("https://fedora.digitalcommonwealth.org/fedora/objects/commonwealth:x920fw86z/datastreams/access800/content")
}



.divtrans1{
    opacity: 0.5;
}

.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}