


<form  class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Sign Up for JamSession</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="fn">First name</label>  
  <div class="col-md-4">
  <input id="fn" name="fn" type="text" placeholder="first name" class="form-control input-md" required="" ng-model="jCtrl.newUser.fn">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="ln">Last name</label>  
  <div class="col-md-4">
  <input id="ln" name="ln" type="text" placeholder="last name" class="form-control input-md" required="" ng-model="jCtrl.newUser.ln">
    
  </div>
</div>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>  
  <div class="col-md-4">
  <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="" ng-model="jCtrl.newUser.email">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="instrument">Instrument</label>  
  <div class="col-md-4">
  <input id="instrument" name="instrument" type="text" placeholder="" class="form-control input-md" required="" ng-model="jCtrl.newUser.instrument">
    
  </div>
</div>



<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="zipcode">Zip Code</label>  
  <div class="col-md-4">
  <input id="zipcode" pattern="[0-9]{0,5}" name="zipcode" type="text" placeholder="Zip Code" class="form-control input-md" required="" ng-model="jCtrl.newUser.zipcode">
    
  </div>
</div>


<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="host">Do you have a place to host a JamSession?</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="host-0">
      <input type="radio" name="host" id="host-0" value="true" checked="checked" ng-model="jCtrl.newUser.host">
      Yes
    </label> 
    <label class="radio-inline" for="host-1">
      <input type="radio" name="host" id="host-1" value="false" ng-model="jCtrl.newUser.host">
      No
    </label>
  </div>
</div>


<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="othersplay">Do you have extra instrument for others to play?</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="othersplay-0">
      <input type="radio" name="othersplay" id="othersplay-0" value="true" checked="checked" ng-model="jCtrl.newUser.othersplay">
      Yes
    </label> 
    <label class="radio-inline" for="othersplay-1">
      <input type="radio" name="othersplay" id="othersplay-1" value="false" ng-model="jCtrl.newUser.othersplay">
      No
    </label>
  </div>
</div>
    
    <!-- Select Basic  -->
<div class="form-group">
  <label class="col-md-4 control-label" for="genre1">Genre 1</label>
  <div class="col-md-4">
    <select id="genre1" name="genre1" class="form-control input-md" ng-model="jCtrl.newUser.genre1">
        <option></option>
        <option>Alternative</option>
        <option>Blues</option>
        <option>Bluegrass</option>
        <option>Celtic</option>
        <option>Classical</option>
        <option>Country</option>
        <option>Electronic</option>
        <option>Hip Hop/Rap</option>
        <option>Indie</option>
        <option>Jazz</option>
        <option>Latin</option>
        <option>Metal</option>
        <option>Pop</option>
        <option>RB/Soul</option>
        <option>Reggae</option>
        <option>Rock</option>
        <option>Soundtrack/Game</option>
        <option>World</option>
        <option>Other</option>
    </select>
  </div>
</div>
    <!-- Select Basic  -->
<div class="form-group">
  <label class="col-md-4 control-label" for="genre2">Genre 2</label>
  <div class="col-md-4">
    <select id="genre2" name="genre2" class="form-control input-md" ng-model="jCtrl.newUser.genre2">
        <option></option>
        <option>Alternative</option>
        <option>Blues</option>
        <option>Bluegrass</option>
        <option>Celtic</option>
        <option>Classical</option>
        <option>Country</option>
        <option>Electronic</option>
        <option>Hip Hop/Rap</option>
        <option>Indie</option>
        <option>Jazz</option>
        <option>Latin</option>
        <option>Metal</option>
        <option>Pop</option>
        <option>RB/Soul</option>
        <option>Reggae</option>
        <option>Rock</option>
        <option>Soundtrack/Game</option>
        <option>World</option>
        <option>Other</option>
    </select>
  </div>
</div>
    <!-- Select Basic  -->
<div class="form-group">
  <label class="col-md-4 control-label" for="genre3">Genre 3</label>
  <div class="col-md-4">
    <select id="genre3" name="genre3" class="form-control input-md" ng-model="jCtrl.newUser.genre3">
        <option></option>
        <option>Alternative</option>
        <option>Blues</option>
        <option>Bluegrass</option>
        <option>Celtic</option>
        <option>Classical</option>
        <option>Country</option>
        <option>Electronic</option>
        <option>Hip Hop/Rap</option>
        <option>Indie</option>
        <option>Jazz</option>
        <option>Latin</option>
        <option>Metal</option>
        <option>Pop</option>
        <option>RB/Soul</option>
        <option>Reggae</option>
        <option>Rock</option>
        <option>Soundtrack/Game</option>
        <option>World</option>
        <option>Other</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button ng-click="jCtrl.saveUser()" id="submit" name="submit"  class="btn btn-primary">SUBMIT AND CONTINUE</button>
  </div>
</div>

</fieldset>
</form>
